page-login {
    .master{
        background-image: url('../../assets/img/background.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }
    .master img {
        display: block;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 200px;
        margin-bottom: 20px;
    }
    .list-ios{
        border: none;
    }
    .item-content{
        background-color: transparent;
        border: none;
        color: white;
    }
    .text-input{
        color: white;
        //text-transform: uppercase;
    }
    .button{
        color: white;
    }
    .header-md::after{
        position: unset;
    }
}
