page-register {
    img{
        display: block;
        width: 60%;
        margin: 0 auto;
        padding-bottom: 40px;
        padding-top: 20px; 
    }

    #logo{
        visibility: hidden;
        width: 10%;
        height: 10%;
        margin: 0 auto;
        display: block;
        padding: 0px;
    }
}
