<ion-header no-border>
  <ion-navbar color="theme" (click)="home()">
    <img src="assets/img/logoIcon.png" id="logo">
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

  <ng-container *ngFor="let monument of monuments | orderByPipe : 'naam': 'true'; let i=index">

    <ion-card *ngIf="i<5">

      <img src="{{ monument.picture }}" />

      <ion-card-content>
        <ion-card-title>
          {{ monument.naam }}
        </ion-card-title>
        <p color="lightDark">
          {{ monument.info }}
        </p>
      </ion-card-content>

      <ion-row no-padding>
        <ion-col>
          <button ion-button clear small color="theme" icon-start>
            <ion-icon name='thumbs-up' color="theme"></ion-icon>
            20 likes
          </button>
        </ion-col>
        <ion-col text-center>
          <button ion-button clear small color="theme" icon-start>
            <ion-icon name='bookmark' color="theme"></ion-icon>
            Bookmark
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="theme" icon-start>
            <ion-icon name='share-alt' color="theme"></ion-icon>
            Share
          </button>
        </ion-col>
      </ion-row>

    </ion-card>

  </ng-container>

</ion-content>