page-monuments-spotlight {
    #logo{
        width: 10%;
        height: 10%;
        margin: 0 auto;
        display: block;
        padding: 0px;
      }

      ion-card > img{
          width: 100%;
      }
}
