page-monuments-detail {
    #logo{
        width: 10%;
        height: 10%;
        margin-left: 90px; 
        display: block;
        padding: 0px;
      }

      .iconsRight{
          padding: 4px;
      }
}
